body {
    /* background-image: linear-gradient(#0b1214, #28424b); */ 
    background-color: #000;
    color: aliceblue;
    font-family: 'Ubuntu Sans Mono';

}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-top: 50px;
    font-size: 96px;
    font-weight: 700;
}

.home-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name{
    color: rgb(145, 210, 231);
}

.occupation {
    padding-top: 0px;
    font-size: 36px;
}

.me{
    margin-top: 50px;
    height: 550px;
    width: 750px;
}

.about {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio {
    margin-top: 350px;
    font-size: 20px;
}

.works {
    height: 750px;
    width: 1895px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    font-size: 36px;
    font-weight: 700;
}

.work {
    border: solid aliceblue 7px;
    border-radius: 50px;
    height: 300px;
    width: 300px;
}

.work:hover {
    height: 325px;
    width: 325px;
}