body {
    /* background-image: linear-gradient(#0b1214, #28424b); */ 
    color: aliceblue;
    font-family: 'Ubuntu Sans Mono';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
